.customFormCard {
    display: flex;
    justify-content: center;
}

.customCard {
    padding: var(--OneRem);
    background-color: var(--coloredBackground);
    margin: auto;
    width: 80%;
}

.ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: var(--OneRem);
    padding: 0;
    margin-top: 2rem;
    width: 80%;
}

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--OneRem);
    padding: var(--OneRem);
    background: var(--coloredBackground);
    width: 80%;
    padding: 2.5rem;
    border-radius: var(--borderRadius);
}

.inputContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 2rem;
}

.container {
    display: flex;
    gap: 2rem;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: end;
}

.selectContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

.selectContainer select {
    outline: none;
    border: 0;
    border: 1px solid transparent;
    padding: var(--OneRem);
    border-radius: var(--borderRadius);
}

.customButton:hover {
    cursor: pointer;
    border-color: orangered;
    color: orangered;
    transition: border, color 1500ms ease-in-out;
}

.slide-in {
    
    transform: translateX(-100%);
    animation: slide-in 0.5s ease-out forwards;
}

.slide-out {
    transform: translateX(100%);
    animation: slide-out 0.5s ease-in forwards;
}

@keyframes slide-in {
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}