.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}