.customCard {
    position: relative;
    display: flex;
    color: var(--font_border);
    gap: var(--OneRem);
    border: 1px solid ;
    padding: var(--OneRem);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;

}

.title {
    flex-grow: 1;
    font-size: 24px;
    font-weight: bold;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    padding: var(--OneRem);
    background: var(--colorDark);
    border-radius: 0.5rem;
    width: 20%;
    justify-content: center;
}

li div {
    align-items: center;
    display: flex;
}

.remove {
    opacity: 0;
    background-color: var(--coloredBackground);
}

.animateRemove {
    transform: translateX(200%);
}
