.customCard {
    display: flex;
    color: var(--font_border);
    gap: var(--OneRem);
    border: 1px solid ;
    padding: var(--OneRem);
}

.title {
    flex-grow: 1;
    font-size: 24px;
    font-weight: bold;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    padding: var(--OneRem);
    background: var(--colorDark);
    border-radius: 0.5rem;
    width: 20%;
    justify-content: center;
}

li div {
    align-items: center;
    display: flex;
}