.customCard {
    display: flex;
    color: burlywood;
    gap: 1rem;
    border: 1px solid ;
    padding: 1rem;
}

.title {
    flex-grow: 1;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
}

li div {
    align-items: center;
    display: flex;
}