.expensesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.customCard {
    padding: var(--OneRem);
    background-color: var(--coloredBackground);
    margin: auto;
    width: 80%;
}