.header {
    display: flex;
    width: 100vw;
    padding: var(--OneRem);
    background-color: var(--coloredBackground);
    gap: 5rem;
    margin-bottom: 3rem;
}

.header > a {
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    margin: auto;
    color: var(--font_border);
}

.header ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-grow: 1;
    list-style-type: none;
}

.header ul li a {
    color: var(--font_border);
    text-decoration: none;
}

.userBtn {
    border: 0;
    background-color: transparent;
}

.slideContainer {
    position: absolute;
    right: -100%;
    top: 50;
    width: 200px;
    background-color: var(--colorDark);
    color: var(--font_border);
    transition: right 0.3s ease-in-out; 
    padding: 1rem;
    border: 2px solid var(--coloredBackground);
}

.slideIn {
    right: 0; /* Slide in from the right */
}

.slideOut {
    right: -100%; /* Slide out to the right */
}