.button {
    padding: var(--OneRem);
    outline: none;
    border: none;
    border-radius: var(--borderRadius);
    transition: border linear 250ms;
    background: var(--colorDark);
    color: var(--font_border);
    border: 1px solid var(--font_border);
}

.button:hover {

}