.chartBar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 2rem;
}

.inner {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: var(--colorDark);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.fill {
    background-color: var(--font_border);
    width: 100%;
    transition: all 300ms ease-out;
}

.label {
    font-weight: bold;
    text-align: center;
    font-size: 0.7rem;
}